 @font-face{
			font-family: 'Ganesha Type';
			src: url('../fonts/GaneshaType.ttf');
			font-weight: normal;
			font-style: normal;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, header {
	height: 100%;
}

html {
	font-size: 10px;
	font-family: 'Ganesha Type';
	font-weight: 600;
	cursor: url(https://cdn.custom-cursor.com/db/7928/32/lifestyle-golden-plane-and-planet-cursor.png) , default !important;
}
.nav-wrapper {
	height: 100px;
	display: flex;
	padding: 0 100px;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	z-index: 6;
}

.topnav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 6;
}

.nav-link {
	text-decoration: none;
	color:#00A9FF;
	display: inline;
	font-size: 1.4rem;
	letter-spacing: 1.5px;
	padding: 10px 15px;
	transition: 0.5s ease-in;
	z-index: 6;
}

.nav-link + .nav-link {
	margin-left: 3%;

}
.logo {
	font-size: 1.6rem;
	font-weight: bolder;
	width: 100px;
}

.search {
	background-image: url(../img/fox.png);
	background-position: 0px center;
	background-size: 13px 13px;
	background-repeat: no-repeat;
	border: none;
	padding-left: 20px;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 1.5px;
	width: 100%;
	padding-bottom: 3px;
	transition: 0.5s ease-in;
	cursor: url(https://cdn.custom-cursor.com/db/7927/32/lifestyle-golden-plane-and-planet-pointer.png) , pointer !important;
}
}

.search:focus{
	border-bottom: 2px solid;
}

.header {
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: 50% 30%;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color:  #B6FFFA;
	width: 100%;
}

.header:after {
	content: '' ;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.1);

}

.header > .box {
	z-index: 6;
	text-align: center;
}

.h1 {
	font-size: 5rem;
	letter-spacing: 1.5px;
}

.subtitle {
	font-size: 1.6rem;
}

.header-btn, .readmore {
	border: none;
	width: 200px;
	height: 60px;
	font-size: 1.6rem;
	display: inline-block;
	margin-top: 40px;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor: url(https://cdn.custom-cursor.com/db/7927/32/lifestyle-golden-plane-and-planet-pointer.png) , pointer !important;
	transition: 0.5s ease-in;
	border: 2px solid transparent;

}

.header-btn + .header-btn {
	margin-left: 20px;
}

.trsprnt, .readmore {
	border: 2px solid;
	background-color: transparent;
	z-index: 6;
}

.blue {
	background-color: blue;
}

.first {
	text-align: center;
	padding: 100px 0;
	z-index: 6;
}

.h2 {
	font-size: 4rem;
	margin-bottom: 2rem;
	letter-spacing: 1rem;
}

.section-subtitle {
	font-size: 1.5rem;
	font-weight: 400;
	max-width: 700px;
	margin: auto;
	letter-spacing: 1px;
}

.first-box {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	margin-top: 100px;
	z-index: 6;
}

.nav-link {
	cursor: url(https://cdn.custom-cursor.com/db/7927/32/lifestyle-golden-plane-and-planet-pointer.png) , pointer !important;
}

.first-item {
	width: 30%;
	z-index: 6;
}

.h3 {
	font-size: 2rem;
	margin: 2.5rem 0;
	letter-spacing: 1px

}

.iconka {
	display: block;
	width: 80px;
	margin: auto;
	transition: 0.8s ease-in;
}
.second{
	background-color: lightblue;
}

.second-item {
	width: calc(100% / 3 - 2%);
	background-color: orange;
	margin: 1%;
	padding: 6% 2%;
	transition: 0.5s ease-in;
	z-index: 6;
}

.second-box{
	max-width: 1000px;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 6;
}

.readmore {
	color: black;
	width: 100%;
	z-index: 6;
}

.second-item:hover {
	background-color: lightblue;
	color: orange;
	transform: scale(1.05);
	box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.3);
}

.second-item:hover .readmore{
	border-color: white;
	color: white;
}

.second-item:hover .iconka {
	fill: #fff;
}

.third {
	min-height: 650px;
	z-index: 6;
}

.copyright {
	text-align: center;
	font-size: 2rem;
	padding: 30px 0;
}

.fhird{
	z-index: 6;
}

.fourth{
	z-index: 6;
}